.cards-bg {
    border-radius: 1rem;
    height: 32rem;
    width: 24rem;


}

.cards-bg__elbow-mac {

background-image: url("../images/elbow-mac-01.svg");
background-size: 75%;
background-repeat:no-repeat;
background-position: bottom right;


}

.cards-bg__shells-mac {

background-image: url("../images/shells-mac-01.svg");
background-size: 70%;
background-repeat:no-repeat;
background-position: bottom right;



}

.cards-hr{
    width: 4rem;
}